.container {
  text-align: center;
  margin-bottom: 25px;
}
.text {
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}
.input {
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid gray;
  border-radius: 4px;
}
.country-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  font-size: 22px;
}
.country-list span {
  margin-right: 10px;
  font-size: 22px;
  font-weight: 500;
}
.country-item:not(:last-child),
.countries-list li:not(:last-child) {
  margin-bottom: 10px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}
.country-wrapper {
  display: flex;
}
.country-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 32px;
}
.country-img {
  display: block;
}
.country-languages {
  margin-top: 10px;
}
.countries-list {
  font-size: 22px;
  margin: 0;
  padding: 0;
}
